body{
    background-image: url(../images/bb1.jpg);
    font-family: 'EB Garamond', serif;
    font-family: 'Fjalla One', sans-serif;
    margin: auto;
}

h1 {
    font-size: 1.7em;
    background-color: #CE602F;
    text-align: center;
    overflow: hidden;
    color: 	#F9E084;
}

p{
   font-size: 1.5em; 
}