<!--
<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml$"
version="2.4">
-->

<web-app>
<display-name>
    Servlet
</display-name>

<description>
    Venerinaria
</description>

<servlet>
    <servlet-name>altas</servlet-name>
    <servlet-class>altas</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>altas</servlet-name>
    <url-pattern>/servlet/altas</url-pattern>
</servlet-mapping>

</web-app>